In [1]:
import pandas as pd
import numpy as np

# Homework 3
## Problem #1
We're going to briefly look at truth tables. As an example let's assume we have a 100 photos, some of birds and some of people. In a truth table you assume you can categorize the true answerâ€”let's say you pay an undergraduate to sort the photos into birds and people. Then you want to have an automated sorting algorithm. However that works, whether it is by looking a the color at the center of photo or using a neural network (NN), it will also sort the photos but imperfectly. Given two sorts you can then arrange a truth table.

There are 48 birds and 52 People (columns), and there are 8 miscategorizations. The NN called three of the birds people, and 5 of the people birds.

This is useful because it not only shows the number of errors, but the type, and not all errors are created equal. Let's say our identification system is being used to keep birds from escaping the aviary at the zoo by locking the aviary door when a bird is trying to escape. We really don't want to let birds escape, but locking a person in for 30 extra seconds is not a big deal. In this case false bird identification is not so bad, but false person identification lets a bird escape.

Let's say the above truth table is the current system, and you've developed a new algorithm (NA) with the following truth table where 11 people were called birds and one bird was called a person by the algorithm.

1a) Which algorithm makes the fewest mistakes?

In [2]:
NN_err = 5+3
NA_err = 11+1
print(NN_err,',',NA_err)

8 , 12

This shows that the NA algorithm (the new algorithm) makes more mistakes than the original, so NN makes the fewest mistakes.

1b) Which algorithm is better for the zoo? Explain.

The second algorithm (NA) is better for the zoo. Even though it makes more mistakes than NN, the mistakes that it does make are in favor of the birds rather than the people, because the majority of the mistakes made are to misidentify people as birds. This is more beneficial to the zoo, because it means that fewer birds have the chance to escape. Some people may get frustrated or impatient, but that is less risky than accidently releasing birds.

1c) During the pandemic the number of visitors plummets, and it is only the zoo keeper visiting. So instead of 52% of the photos taken at the aviary door being people, it is now only 1%. Make new truth tables for both algorithms.

In [19]:
people = 1
birds = 99

NNberr = 3/100
NNperr = 5/100
NAberr = 1/101
NAperr = 11/101

In [20]:
NN_data = {'True Bird': [birds*(1 - NNberr), birds*NNberr],
        'True Person': [people*(1 - NNperr), people*NNperr]
        }

df_NN = pd.DataFrame(NN_data, index=['NN Bird','NN Person'])

NA_data = {'True Bird': [birds*(1 - NAberr), birds*NAberr],
        'True Person': [people*(1 - NAperr), people*NAperr]
        }

df_NA = pd.DataFrame(NA_data, index=['NA Bird','NA Person'])

df_NN

           True Bird  True Person
NN Bird        96.03         0.95
NN Person       2.97         0.05

In [21]:
df_NA

           True Bird  True Person
NA Bird    98.019802     0.891089
NA Person   0.980198     0.108911

In [22]:
#df_NN['True Bird'] = df_NN['True Bird'].astype(int)
#df_NN['True Person'] = df_NN['True Person'].astype(int)
df_NN = np.around(df_NN, decimals=0, out=None)
df_NN = df_NN.astype({"True Bird": int, "True Person": int})

df_NA = np.around(df_NA, decimals=0, out=None)
df_NA = df_NA.astype({"True Bird": int, "True Person": int})

df_NN

           True Bird  True Person
NN Bird           96            1
NN Person          3            0

In [23]:
df_NA

           True Bird  True Person
NA Bird           98            1
NA Person          1            0

## Problem #2
In the last lab we explored how to numerically calculate the pdf of a summed or averaged observation through repeated convolutions. But sometimes the convolution has an analytical solution. We could have found this out by either using a sharp pencil and doing the convolution integral by hand, or by looking it up in a table (much easier).

Having an analytic answer is much nicer when they exist, so it is always good to look and see if it exists. Further, sums and averages are only some of the mathematical operations that we can perform. In this section we will do an internet scavenger hunt to find the analytic pdf for some interesting distributions.

### Example #1
What is the sum of two Guassian distributions?

We did this numerically in the last lab, but we can find it analytically. One might start with this page on the normal distribution which would refer you to this page on the sum, which would give you the same answer you figured out last week.

### Example #2
Let's say we have a variable with a Rayleigh distribution, and we're going to square it. What is the distribution?

First I'll lookup and read about the Rayleigh distribution, such as this Wikipedia page (Mathworld and other sources, such as CRC books are great too). Down near the bottom are listed a number of related distributions. Note that the square of the Rayleigh is listed as a gamma distribution with N = 1. Looking up the gamma distribution we see that a gamma with N=1 is an exponential distribution, and just to check we can see that the sqrt of an exponential distribution is a Rayleigh distribution to bring us full circle.

Now it is your turn!

2a) What is the pdf of the sum of two identical exponential distributions?

If the two exponential distributions are identical, and they have a rate parameter $\lambda$, then the probability distribution function of their sum can be given by the following equation:

$f(x) = \lambda^{2} x e^{-\lambda x}$

This is a gamma distribution, and if the parameters are right, it is also effectively a Rayleigh distribution.

2b) What is the pdf of the ratio of two zero-mean unity variance normal distributions  $X1/X2$ ?

The probability density function of of the ratio $X1/X2$ when both variables are zero-mean normal distributions with unity variance is a Cauchy, or Lorentzian, distribution. It can be represented by the following function, in which $\mu$ is the mean (or location parameter) and $\gamma$ is the scale parameter:

$f(x) = \frac{\gamma}{\pi[(x-\mu)^{2}+\gamma^{2}]}$

2c) So far we have looked at 1D probability distributions, but it is possible to have a multi-dimensional vector distribution. A simple first introduction is the 2D Guassian; it looks like a smeared spot. Mathematically this is given by  $X\hat i+Y\hat j$  where both  $X$  and  $Y$  are drawn from 1D Gaussian distributions. If I measure the amplitude of this vector, what is its pdf? (Hint, the amplitude is always positive.)

A two-dimensional Gaussian distribution that can be represented as a vector $X\hat i+Y\hat j$ will have an amplitude that is equal to the magnitude of the vector: $\sqrt{X^2+Y^2}$

It will require a two-dimensional input (one independent variable for each component function), and will give the probability associated with any position on a plane created by the two component functions.